.header {
  text-align: center;
  margin: 2.5rem 0;
  font-size: 3.5rem;
  color: #fff;
}

@media (max-width: 600px) {
  .header {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

.loader {
  text-align: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 95vw;
  padding: 2rem;
  margin: 0 auto;
}

.image-grid img {
  border: 2px solid orange;
  margin: 1rem;
  min-width: 300px;
  width: 370px;
  height: 500px;
  opacity: 0.85;
  transition: opacity, skewX 0.3s;
}

.image-grid img:hover {
  cursor: zoom-in;
  opacity: 1;
}
