@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Chivo', sans-serif;
  background-color: #ffa72bb4;
  background-image: url('https://www.transparenttextures.com/patterns/escheresque-dark.png');
}
